<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SFAPP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="ConsoleApplication1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="TestSF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=192.168.20.240;Initial Catalog=SF;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TestSF.Properties.Settings.SFConnectionString" connectionString="Data Source=nav2013sqldev;Initial Catalog=SF;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!--userid-->
    <add key="UserID" value="alanhu@fiducia-china.com" />
    <!--pwd-->
    <add key="Password" value="Abc123456xWLAl3qk65oohWyeC52tLvtho" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <SFAPP.Properties.Settings>
      <setting name="ConsoleApplication1_NAVContactPageRef_newcontact_Service"
        serializeAs="String">
        <value>http://192.168.20.242:1003/Live01/WS/Fiducia%20Limited%20-%20BAK/Page/newcontact</value>
      </setting>
      <setting name="SFAPP_SystemServiceRef_SystemService" serializeAs="String">
        <value>http://192.168.20.242:1003/Live01/WS/SystemService</value>
      </setting>
      <setting name="SFAPP_CompanyInfoRef_CompanyInformation_Service"
        serializeAs="String">
        <value>http://192.168.20.242:1003/Live01/WS/Fiducia%20Limited%20-%20BAK/Page/CompanyInformation</value>
      </setting>
      <setting name="SFAPP_SFDC_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/37.0/0DF28000000PI7Z</value>
      </setting>
      <setting name="SFAPP_NAVContactRelPageRef_ContactRelation_Service"
        serializeAs="String">
        <value>http://192.168.20.242:1003/Live01/WS/Fiducia%20Limited%20-%20BAK/Page/ContactRelation</value>
      </setting>
    </SFAPP.Properties.Settings>
    <ConsoleApplication1.Properties.Settings>
      <setting name="ConsoleApplication1_NAVContactPageRef_newcontact_Service" serializeAs="String">
        <value>http://192.168.20.242:1003/Live01/WS/Fiducia%20Limited%20-%20BAK/Page/newcontact</value>
      </setting>
      <setting name="ConsoleApplication1_SFDC_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/37.0</value>
      </setting>
    </ConsoleApplication1.Properties.Settings>
    <TestSF.Properties.Settings>
      <setting name="TestSF_SFDC_SforceService" serializeAs="String">
        <value>https://login.salesforce.com/services/Soap/c/37.0</value>
      </setting>
      <setting name="TestSF_NAVContact_newcontact_Service" serializeAs="String">
        <value>http://192.168.20.242:1003/Live01/WS/Fiducia%20Limited%20-%20BAK/Page/newcontact</value>
      </setting>
      <setting name="TestSF_SystemService_SystemService" serializeAs="String">
        <value>http://192.168.20.242:1003/Live01/WS/SystemService</value>
      </setting>
    </TestSF.Properties.Settings>
  </applicationSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>